@tailwind base;
@tailwind components;
@tailwind utilities;

.header__main {
    font-family: "Caveat", cursive;
}

body,
.footer__main {
    font-family: "Yanone Kaffeesatz", sans-serif;
}

.card__title {
    font-family: "Caveat", cursive;
}
